[submodule "ext/mg-verilog"]
	path = ext/mg-verilog
	url = https://github.com/GATECH-EIC/mg-verilog.git
[submodule "ext/verilog-eval"]
	path = ext/verilog-eval
	url = git@github.com:tkim-061203/verilog-eval.git
