autom4te.cache
.conda
ext-dataset
.ignore*
.ipynb_checkpoints
src/unsloth_compiled_cache
src/pyranet*.json
src/outputs
src/llama.cpp
src/.local*
src/ErrorCompileItem.json
src/PyranetStatisticData
**/__pycache__
**/bnadimi_PyraNet*.jsonl
**/*.gguf
src/pyranet_error_data.txt
src/pyranet_error_data_2.txt
src/TrainDataset
utils/Pyranet_no_logic.jsonl
utils/found
src/.cache_count_num_cell*
**/*.env
*/*/.build_*/*/
*/*/.build_*/wave.vcd

.run*
.cache*
.vscode
vllm.out
config.status
config.log